<!DOCTYPE html>
<html lang="en">

<head>
    <title>Shoping Cart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/mc-logo-letter-design-vector-14081808.jpg">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
    <!--===============================================================================================-->
    <!-- <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css"> -->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="./notify.min.css" />
    <!--===============================================================================================-->
</head>

<body class="animsition">

    <!-- Header -->
    <%- include('./partials/head.ejs') -%>


        <!-- breadcrumb -->
        <!-- <div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.ejs" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div> -->


        <!-- Shoping Cart -->
        <form class="bg0 p-t-75 m-t-50 p-b-85" >
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                        <div class="m-l-25 m-r--38 m-lr-0-xl">
                            <div class="wrap-table-shopping-cart">
                                <table class="table-shopping-cart">
                                    <th class="column-1" >
                                        My Wishlist
                                    </th>
                                <%if(product.length !== 0 ){%>

                                   <%product.forEach((data)=>{%>
                                    <tr class="table_head">
                                       
                                    </tr>
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src=" <%= data.images[0].path%> " alt="IMG">
                                            </div>
                                        </td>
                                        <td class="column-2">
                                          <%=data.name%>
                                        </td>
                                        <td class="column-3">
                                           <%=data.price%>
                                        </td>
                                        <td>
                                            dfsdfs
                                        </td>

                                        <td class="column-5">
                                            <a href="/delWishlisttItem?id=<%= data._id%> " role="button">
                                                <!-- <i class="fas fa-times"></i> -->
                                                cancel
                                            </a>
                                        </td>
                                    </tr>

                                   <%})%>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                    <%}else{%>
                        <div class=" text-center">
            
                            <h2>
                                Your whishlist is currently empty</h2><br>
                            <p> Before proceed to checkout you must add some products to your whishlist. You will
                                find a lot of interesting products on our "Shop" page.</p>
              </div>
              <%}%>
                    
                </div>
            </div>
        </form>

        


        <%- include('./partials/footer') -%>

            <!-- Back to top -->
            <div class="btn-back-to-top" id="myBtn">
                <span class="symbol-btn-back-to-top">
                    <i class="zmdi zmdi-chevron-up"></i>
                </span>
            </div>

            <script>
                var total;
                function increaseCount(productId) {

                    const countAdd = document.getElementById(`count1${productId}`)
                    const addPars = parseInt(countAdd.value)
                    const add = addPars + 0




                    fetch('/countInc', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            add,
                            productId
                        })
                    })
                        .then(response => response.json())
                        .then(response => {
                            if (response.success) {
                                console.log(response.product);
                                document.getElementById(`totalInd${response.product._id}`).innerText = response.total + response.product.price;
                                total = 0;
                                cartTotal(response)


                            } else {
                                console.log(response.product);
                                document.getElementById(`count1${response.product._id}`).value = response.product.stock
                                Toastify({
                                    text: `Only ${response.product.stock} items are availiable`,
                                    duration: 3000,
                                    newWindow: true,
                                    close: true,
                                    gravity: "bottom", // top or bottom
                                    position: "center", // left, center or right
                                    backgroundColor: "linear-gradient(to right, #FF0000, #000000)",
                                }).showToast();
                            }
                        })
                }

                function decreaseCount(productId) {
                    const countLess = document.getElementById(`count1${productId}`)
                    if (countLess.value == 1) {
                        Toastify({
                            text: `Quantity should be greater than zero`,
                            duration: 3000,
                            newWindow: true,
                            close: true,
                            gravity: "bottom", // top or bottom
                            position: "center", // left, center or right
                            backgroundColor: "linear-gradient(to right, #FF0000, #000000)",
                        }).showToast();
                        document.getElementById(`count1${productId}`).value = 2
                    } else {
                        console.log(countLess, 'less');
                        const lessPars = parseInt(countLess.value)
                        const less = lessPars - 1

                        fetch('/countDec', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                less,
                                productId
                            })
                        })
                            .then(response => response.json())
                            .then(response => {
                                if (response.success) {
                                    if (response.inc > 0) {
                                        console.log(response.product);
                                        document.getElementById(`totalInd${response.product._id}`).innerText = response.total
                                        total = 1;
                                        cartTotal(response)
                                    } else {
                                        document.getElementById(`count1${response.product._id}`).value = 0;
                                        Toastify({
                                            text: `Quantity should be greater than zero`,
                                            duration: 3000,
                                            newWindow: true,
                                            close: true,
                                            gravity: "bottom", // top or bottom
                                            position: "center", // left, center or right
                                            backgroundColor: "linear-gradient(to right, #FF0000, #000000)",
                                        }).showToast();

                                    }
                                } else {
                                    console.log('Failed');
                                }
                            })
                    }
                }
                let hiddenTotal = document.getElementById('hiddenTotal').value
                let totalset = parseInt(hiddenTotal);
                function cartTotal(response) {
                    console.log(response.product.price);
                    if (total == 0) {
                        totalset = totalset + response.product.price;
                    } else {
                        totalset = totalset - response.product.price;
                    }

                    document.getElementById(`cartTotal`).innerText = `Total : ${totalset}`
                }

            </script>
            <script src="./notify.min.js"></script>
            <!--===============================================================================================-->
            <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

            <!--===============================================================================================-->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
            <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

            <!--===============================================================================================-->
            <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
            <!--===============================================================================================-->
            <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/animsition/js/animsition.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/bootstrap/js/popper.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/select2/select2.min.js"></script>
            <script>
                $(".js-select2").each(function () {
                    $(this).select2({
                        minimumResultsForSearch: 20,
                        dropdownParent: $(this).next('.dropDownSelect2')
                    });
                })
            </script>
            <!--===============================================================================================-->
            <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
            <script>
                $('.js-pscroll').each(function () {
                    $(this).css('position', 'relative');
                    $(this).css('overflow', 'hidden');
                    var ps = new PerfectScrollbar(this, {
                        wheelSpeed: 1,
                        scrollingThreshold: 1000,
                        wheelPropagation: false,
                    });

                    $(window).on('resize', function () {
                        ps.update();
                    })
                });
            </script>
            <!--===============================================================================================-->
            <script src="js/main.js"></script>

</body>

</html>